* {
  box-sizing: border-box;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,Ubuntu,Cantarell,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji",BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","PingFang TC","PingFang HK","Microsoft Yahei","Microsoft JhengHei";
}

html {
  overflow: auto;
  line-height: 1.15;

  body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }

  --md-blockquote-bkcolor: #efa9b2;
  --md-blockquote-head-bkcolor: #c08999;
  --md-pre-bkcolor: #f1dfdfbe;
  --md-a-font-color: #e65b5b;
  --md-font-color: #464646;
}